<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="../../css/kanyewest.css">
</head>

<body>
    <h1>Kanye West</h1>
    <p id="quote-by-kanye"></p>
    <img id="kanye-image" src="../../img/kanyewest.jpeg" onclick="refreshQuote()">

    <script src="../js/kanyewestapp.js"></script>  
</body>
