body {
    display: flex;
    flex-direction: column;
    align-items: center;

    Font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
    font-size: larger;
}

#kanye-image {
    cursor: url('../img/kanyewest.jpeg'), pointer;	
}
